<div class="row">
  <div class="col-xs-12">
    <hr>
    <div class="row">
      <div class="col-sm-10 col-lg-12">
        <div class="widget-box">
          <div class="widget-header widget-header-flat">
            <h4 class="widget-title smaller">
              <i class="ace-icon fa fa-quote-left smaller-80"></i>
              <%= @article.title %>
            </h4>
          </div>

          <div class="widget-body">
            <div class="widget-main">

              <div class="row">
                <div class="col-xs-12">
                  <blockquote>
                    <p class="lighter line-height-125">
                      <%= @article.content %>
                    </p>

                    <small>
                      <%=@article.author %>
                      <cite title="Source Title"></cite>
                    </small>
                  </blockquote>
                  <hr>
                </div>
                </table>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div><!-- PAGE CONTENT ENDS -->
  </div><!-- /.col -->
</div>